footer {
    background-color: #8B0000;
    color: white;
    padding: 10px;
    text-align: center;
  
    a {
      margin: 0 10px;
  
      img {
        width: 30px;
        height: 30px;
      }
  
      &:hover {
        opacity: 0.8;
      }
    }
  }
  