<div class="cards-wrapper">
  <mat-card>
    <img mat-card-image src="images/ns.jpeg" alt="Mi Música">
    <mat-card-content>
      <h2>Mi Música</h2>
    </mat-card-content>
    <mat-card-actions>
      <a href="#" mat-button>Ir</a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <img mat-card-image src="images/nt.jpeg" alt="Tours">
    <mat-card-content>
      <h2>Tours</h2>
    </mat-card-content>
    <mat-card-actions>
      <a href="#" mat-button>Ir</a>
    </mat-card-actions>
  </mat-card>
</div>
